certifi
charset-normalizer
colorama
cycler
et-xmlfile
fonttools
idna
itsdangerous
kiwisolver
MarkupSafe
matplotlib
numpy
openpyxl
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
scikit-learn
scikit-plot
scipy
six
threadpoolctl
urllib3
Werkzeug
EasyMLLib
tensorflow
pyyaml
h5py
